.main-container {
  border-width: 1px;
  padding: 1rem;
  max-width: 875px;
}

div.drop-zone {
  width: 100%;
  height: 100%;
}

.custom-scroll-panel {
  width: 100%;
  height: auto;
}

::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background-color: #2196f3;
  color: #ffffff;
}
