::ng-deep p-dialog .dialog-custom-width {
  width: 50%;
}

::ng-deep .p-multiselect-panel .p-multiselect-header {
  display: none;
}

::ng-deep p-toolbar {
  margin: 0;
}

:host ::ng-deep .custom-toolbar {
  width: 100%;
  max-width: 875px;
}

:host ::ng-deep .highlight-btn {
  margin-left: 2em;
}

:host ::ng-deep .hightlight {
  display: hidden;
}

@media (max-width: 540px) {
  .justify-space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .p-toolbar-group-multiselect-container {
    width: 100%;
  }

  :host ::ng-deep .p-multiselect {
    width: 100%;
  }

  .p-toolbar-group-search-container {
    width: 100%;
  }

  .p-inputtext {
    width: 100%;
  }
}
