<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button
      label="File"
      icon="pi pi-file"
      aria-label="File"
      styleClass="p-button-raised p-button-text"
      (click)="handleFileButtonClick()"
    ></p-button>
    <label for="fileInput">
      <input
        type="file"
        #fileInput
        id="fileInput"
        class="hidden"
        (change)="onFileSelected($event)"
        multiple
      />
    </label>
    <p-divider layout="vertical"></p-divider>
    <p-button
      (click)="showDialog()"
      label="Highlighting"
      icon="pi pi-external-link"
      aria-label="Highlighting Panel"
      styleCalss="p-button-raised p-button-text"
    ></p-button>
    <p-dialog
      header="Highlighting Settings"
      [modal]="true"
      [(visible)]="visible"
      styleClass="dialog-custom-width"
      [closable]="true"
    >
      <app-highlighting-dialog
        [visible]="visible"
        (dialogChanged)="closeDialog($event)"
      ></app-highlighting-dialog>
    </p-dialog>
  </div>
</p-toolbar>
<p-toast></p-toast>
<app-file-upload-panel> </app-file-upload-panel>
